---
layout: page
title: Get Higher Hangers
subTitle: A Template by Start Bootstrap
---
  
<!-- BEGIN .content-section-a -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                
                <div class="col-lg-8 lead">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                  
                {% capture form %}{% include form.md %}{% endcapture %}{{ form | markdownify }}
                
                	</div>
                
              
                    {% include header-opt-in.html %}
               
             	{% for text in site.text_files %}
  				{% if text.id == 'test' %}
  <h2>{{ text.title }}</h2>
  <p>Performed by {{ text.content }}</p>
{% endif %}
  {% endfor %}
 
             </div>

        </div>
       
        <!-- /.container -->

	</div>
	

<!-- END /.content-section-a -->
           
