---
layout: sb-layout
title: Higher Hangers - Space Saving Velvet Plastic & Wood Clothes Hangers
weight: 1
fb-pixel-viewcontent: 'yes'
nav-title: Home
index: 'yes'
---

<script type="text/javascript" src="js/canvas_js/plugins.js"></script>
<script type="text/javascript" src="js/canvas_js/functions.js"></script>

<section id="services">
<div itemscope itemtype="http://schema.org/Product">
<!-- Page Content 
<div class="content-section-a">

        <div class="container">

            <div class="row">
            	<div class="col-md-3 text-center">
            	<img class="center-block no-shadow" src="img/badges_final_2016_TOP_100.png" alt="FedEx Small Business Grant Top 100 Finalist Logo" />
            	<p>Thanks for your support! We made the Top 100.</p>
            	</div>
        		<div class="col-md-8 col col-md-offset-1 text-center">
        		        		        		
        		<h2 class="editable">Be The First to Know About Higher Hangers Updates, Sales, and Special Offers</h2>
        		
        		<p class="lead editable">Subscribe to our email list to be the first to know about updates regarding <strong>international orders</strong>, when <strong>new products</strong> are released, and about special <strong>sales and promotions</strong>.</p>
        		        		
        		<!-- Begin MailChimp Signup Form 
<div id="mc_embed_signup">
<form action="//higherhangers.us2.list-manage.com/subscribe/post?u=fe9df1b56e5c855f42142ab39&amp;id=461ae7231a&MMERGE7=international" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	 
	 <div class="row">
        		
        		<div class="col-md-6 text-center">
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required></div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fe9df1b56e5c855f42142ab39_461ae7231a" tabindex="-1" value=""></div>
    <div class="col-md-6 text-center"><div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div></div>
    </div></div>
</form>
</div>

<!--End mc_embed_signup

        		
</div>    
            </div>
      	</div>
</div>


<!-- BEGIN /.content-section-b -->   
     <div class="content-section-b">

        <div class="container">

            <div class="row">
            	<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 lead kickstarter-section">
                    <div class="clearfix"></div>
                    <h2 class="section-heading perfect-for kickstarter-section">March 2016 - Higher Hangers 1.0 Successfully Funded on<br /><img class="img-responsive no-shadow center-block" src="img/kickstarter-logo-light.png" alt="Kickstarter Logo" /></h2>    
                    
                   	</div>
            </div>
            
            <div class="row">
            	<div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <div class="clearfix"></div>
                    <h2 class="text-center icon"><i class="fa fa-pie-chart"></i></h2>
 					<div class="counter counter-xlarge"><h2 class="text-center"><span data-from="1" data-to="372" data-refresh-interval="100" data-speed="1500"></span>%</h2></div>
 					<p class="counter">Percent funded of our $40,000 goal, nearly quadrupling our target.</p>           	
            	</div>
            	
            	<div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <div class="clearfix"></div>
                    <h2 class="text-center icon"><i class="fa fa-money"></i></h2> 
 					<div class="counter counter-xlarge"><h2 class="text-center">$<span data-from="1" data-to="148" data-refresh-interval="100" data-speed="1500"></span>,<span data-from="100" data-to="885" data-refresh-interval="100" data-speed="1500"></span></h2></div>
 					<p class="counter">Dollars raised in only 32 days, in the top 1% of all projects in Kickstarter history.</p>  
            	</div>
            	
            	<div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <div class="clearfix"></div>
                    <h2 class="text-center icon"><i class="fa fa-line-chart"></i></h2>
 					<div class="counter counter-xlarge"><h2 class="text-center"><span data-from="1" data-to="110" data-refresh-interval="100" data-speed="1500"></span>,000+</h2></div> 
 					<p class="counter">Units backed, one of the highest volume Kickstarter products, ever.</p>           	
            	</div>
            	
            	<div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <div class="clearfix"></div>
                    <h2 class="text-center icon"><i class="fa fa-users"></i></h2>
 					<div class="counter counter-xlarge"><h2 class="text-center"><span data-from="0" data-to="1" data-refresh-interval="100" data-speed="1500"></span>,<span data-from="100" data-to="665" data-refresh-interval="100" data-speed="1500"></span></h2></div>          
 					<p class="counter">Enthusiastic Kickstarter backers excited to create new space in their closets.</p>   	
            	</div>
            	
            	
            </div>

            
         </div>
       </div><!-- END /.content-section-b --> 
       
<!-- BEGIN .content-section-a -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                
                <div class="col-lg-5 col-md-6 lead">
                    <hr class="section-heading-spacer" />
                    <div class="clearfix"></div>
                    
                    {% capture intro %}{% include_relative /_drew/intro-paragraph.md %}{% endcapture %}
					{{ intro | markdownify }}
                </div>
                
                <div class="col-lg-7 col-md-6">
                	<img class="img-responsive" src="img/plain-hanger.jpg" alt= "Comparison of Space Saving Higher Hangers to traditional hangers" title="Short neck design of Higher Hangers save space">                     
                	<p class="caption">The space saving, short neck design of Higher Hangers can create new space in your closet.</p>

                </div>
             
             </div>

        </div>
        <!-- /.container -->

	</div>
<!-- END /.content-section-a -->

<!-- BEGIN /.content-section-b -->   
     <div class="content-section-b">

        <div class="container">

            <div class="row">
            	<div class="col-lg-10 col-lg-offset-1 col-sm-12 lead">
                    <div class="clearfix"></div>
                    <h2 class="section-heading perfect-for">Three Styles of Higher Hangers</h2>    
            	</div>
            </div>
            
            <div class="row">
            	<div class="col-sm-4 col-xs-12 lead">
                    <div class="clearfix"></div>
                    <img class="img-responsive no-shadow" src="img/velvet_hanger_600x600.jpg" alt="Space Saving Higher Hangers - Velvet Slimline" title="Use short neck velvet Higher Hangers for ultimate sapce savings" />
                    <br />
                    <div class="text-center"><a class="btn btn-primary btn-lg buy-now" href="https://shop.higherhangers.com/collections/velvet">Buy Velvet</a></div>
                    {% capture velvet %}{% include_relative /_drew/velvet.md %}{% endcapture %}
					{{ velvet | markdownify }}
            	</div>
            	
            	<div class="col-sm-4 col-xs-12 lead">
                    <div class="clearfix"></div>
                    <img class="img-responsive" src="img/hdf_hanger_600x600.jpg" alt="Space Saving Higher Hangers - HDF Style" title="Short neck HDF Higher Hangers are heavy duty" />
                    <br />
                    <div class="text-center"><a class="btn btn-primary btn-lg buy-now" href="https://shop.higherhangers.com/collections/hdf">Buy HDF</a></div>
                    {% capture hdf %}{% include_relative /_drew/hdf.md %}{% endcapture %}
					{{ hdf | markdownify }}                  
            	</div>
            	
            	<div class="col-sm-4 col-xs-12 lead">
                    <div class="clearfix"></div>
                    <img class="img-responsive no-shadow" src="img/plastic_hangers_600x600.jpg" alt="Space Saving Higher Hangers - Velvet Slimline" title="Use short neck velvet Higher Hangers for ultimate sapce savings" />
                    <br />
                    <div class="text-center"><a class="btn btn-primary btn-lg buy-now" href="https://shop.higherhangers.com/collections/plastic">Buy Plastic</a></div>
                    {% capture slippery %}{% include_relative /_drew/slippery.md %}{% endcapture %}
					{{ slippery | markdownify }}
                    
            	</div>
            	
            </div>

            
         </div>
       </div><!-- END /.content-section-b --> 
       
       <!-- BEGIN /.content-section-a -->   
     <div class="content-section-a">

        <div class="container">

            <div class="row">
            	
            	<div class="col-lg-6 col-sm-push-6 col-sm-6 lead">
                    <hr class="section-heading-spacer" />
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Frequently Asked Questions</h2>
                   	{% for faq in site.faq limit:3 %}
                    <h3>{{ faq.title }}</h3>
                    <div class="lead">{{ faq.content }}</div>
            		{% endfor %}

                    <a href="faq.html" class="btn btn-success btn-lg buy-now" onclick="ga('send', 'event', 'Button', 'click', '{{ page.url }}-faq');"><i class="fa fa-question-circle fa-fw"></i> <span class="network-name">Read More FAQs</span></a>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/collaredshirt.jpg" alt="Collared Shirt on Short Neck Higher Hangers" title="Short neck Higher Hangers work with collared shirts" />
                  <p class="caption">Yes, Higher Hangers work with collared shirts. <a href="/do-collared-shirts-hit.html">Here's an in-depth explanation</a>.</p>
                </div>

            </div>
         </div>
       </div><!-- END /.content-section-a --> 
       
       {% include featured-on.html %}
       
       <!-- BEGIN .content-section-a -->
    <div id="calculator" class="content-section-a">

        <div class="container">

            <div class="row">
      
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer" />
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Calculate Your Space Savings</h2>
                    <div class="lead">{% include calculator.html %}</div>
                    <p><a href="faq.html#faq-6">Click here for an explanation of the math behind the calculator</a>.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/media_kit/animated_gifs/shoes_before_after.gif" alt="Animation of how much space is saved using short neck Higher Hangers" title="Short Neck Higher Hangers create new closet space">
                  <p class="caption">Look at how much new space is created compared to traditional hangers (early prototypes shown on right).</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
<!-- END /.content-section-a -->
       
       <!-- BEGIN /.content-section-b -->   
     <div class="content-section-b">

        <div class="container">

 <div class="row">
            	<div class="col-lg-10 col-lg-offset-1 col-sm-12 lead">
                    <div class="clearfix"></div>
                    <h2 class="section-heading perfect-for">People Love Higher Hangers</h2>   
            	</div>
            </div>

            <div class="row">
            	
            	<div class="col-lg-12 lead">
                    <div class="clearfix"></div>
                    
<img src="img/headshotsambrown126x126.jpg" alt="Sam Brown image" class="pull-right" />                    
<blockquote>
  <p>“When I first discovered Higher Hangers I thought to myself, "Why on earth would anyone buy hangers with the old design?" It's a logical product that offers a quick solution to maximizing closet space. In NYC, where my clients' closets are typically very tight, this is a great product for them to increase shoe storage - something all women want!”</p>
  <footer>Samantha Brown, Professional Stylist, <cite title="Source Title">SamanthaBrownStyle.com</cite></footer>
</blockquote>

<img src="img/headshotliz126x126.jpg" alt="Elizabeth image" class="pull-left" />
<blockquote class="blockquote-reverse">
<p>“As a women's clothing and accessories boutique owner, I'm always searching for hangers that won't damage clothing. Not only are Higher Hangers space-saving, the gentle shoulder design eliminates damage to lightweight knits, sweaters, and cotton garments. I'm now a Higher Hangers customer and will be recommending all of my customers to make the switch.”</p>
  <footer>Elizabeth, Boutique Owner, <cite title="Source Title">SouthernHippie.com</cite></footer>
</blockquote>

<img src="img/headshotbailey126x126.jpg" alt="Baylie Carlson image" class="pull-right" />
<blockquote>
  <p>“We cram two adults, a baby, and a toddler in to a 204 sqft Tiny House!  When it comes to space, we think in inches rather than feet, and every single inch matters!  Higher Hangers has changed my closet!  With the added space we are able to fit more in our teeny tiny closet!  I will be forever grateful to Higher Hangers for the added space that we didn't know wasn't there!  This design will become the new normal, I'm sure of it.”</p>
  <footer>Baylie Carlson, <cite title="Source Title">TinyHouseGrowingFamily.com</cite></footer>
</blockquote>
    
<img src="img/headshotsimplyorg126x126.jpg" alt="Samantha image" class="pull-left" />  
<blockquote class="blockquote-reverse">
<p>“As a professional organizer, space planning is a large part of my business. Clients hire me not only to organize, but also to make the most of the space available to them. I can't believe something as simple as Higher Hangers’ design could help me provide more useable space in a closet. Here in San Francisco, closet space is at a premium. Higher Hangers give me the ability to organize and create more space for shelving or shoe storage." </p>
  <footer>Samantha, Professional Organizer, <cite title="Source Title">SimplyOrganized.me</cite></footer>
</blockquote>        

<div class="row">
<div class="col-lg-12 lead">
   <hr class="section-heading-spacer" />
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Social Media</h2>
                    
</div>


<div class="row">
            	
            	
                 
                   	{% assign posts = site.social | reverse %}
                   	{% for post in posts limit:3 %}
                    <div class="col-md-4 col-sm-6 lead">
                    <div class="lead">{{ post.content }}</div>
            		</div>
            		{% endfor %}

<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>                 
                
            <p class="text-right"><a href="/social-media.html">See more social media buzz...</a></p>
    

            </div>






      
                </div>
                

            </div>
         </div>
       </div><!-- END /.content-section-b --> 

       <!-- BEGIN /.content-section-a -->   
     <div class="content-section-a">

        <div class="container">

              <!-- BEGIN TIMELINE -->
<div class="row">
                
  
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Higher Hangers Timeline</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <!-- ////////// <li> /////////// -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/3d-prototype200x200.jpg" alt="3D Pinted Prototype Short Neck Higher Hangers">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Design and Prototyping</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We spent most of 2015 nailing down the design of Higher Hangers. The goal was to raise the hanger as high as possible, work with any style of clothing, and make it easy to put on and take off of a closet rod. Multiple 3D prototypes were made for testing.</p>
                                </div>
                            </div>
                        </li>
                        <!-- ////////// <li> /////////// -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/hdf-prototype200x200.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2016</h4>
                                    <h4 class="subheading">Production Quality Samples</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Once the design was perfected, we ordered 5,000 samples of Higher Hangers to verify the manufacturing quality, use for reviews and promotions, and as a reward to a limited number of Kickstarter backers.</p>
                                </div>
                            </div>
                        </li>
                        <!-- ////////// <li> /////////// -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/kickstarter-logo-k-color200x200.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2016</h4>
                                    <h4 class="subheading">$148,885 Raised on Kickstarter</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With a goal of $40,000, we raised nearly $150,000 for the first production run of Higher Hangers. Over 110,000 Higher Hangers were pre-ordered, making Higher Hangers one of the highest volume Kickstarter campaigns, ever.</p>
                                </div>
                            </div>
                        </li>
                        <!-- ////////// <li> /////////// -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/super-early-bird200x200.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 23, 2016</h4>
                                    <h4 class="subheading">First Higher Hangers Shipped</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first 50 Super Early Bird backers on Kickstarter were rewarded with a quick turnaround on their Higher Hangers. Just 23 days after the Kickstarter campaign closed, the product was shipped (if not for some box design and shipping fiascos it would have been even sooner).</p>
                                </div>
                            </div>
                        </li>
                        <!-- ////////// <li> /////////// -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/manufacturing200x200.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2016</h4>
                                    <h4 class="subheading">Manufacturing</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">May was spent manufacturing over 100,000 Higher Hangers to fulfill the pre-orders from Kickstarter and our website.</p>
                                </div>
                            </div>
                        </li>
 						<!-- ////////// <li> /////////// -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/female-shirt200x200.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2016</h4>
                                    <h4 class="subheading">Over 100,000 Higher Hangers Shipped</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We have shipped out over 100,000 Higher Hangers to fulfill Kickstarter rewards and website pre-orders.</p>
                                </div>
                            </div>
                        </li>
<!-- ////////// <li> /////////// -->
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/globe.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2016</h4>
                                    <h4 class="subheading">Now Accepting International Orders</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Higher Hangers can now be shipped worldwide. </p>
                                </div>
                            </div>
                        </li>
                        
                         <!-- ////////// <li> /////////// -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/higher-hangers-v2-3d-print200x200.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Spring 2017</h4>
                                    <h4 class="subheading">Higher Hangers 2.0 Designed</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We spent a few months redesigning Higher Hangers from the ground up. After making a few 3D print models, the final design was perfected.</p>
                                </div>
                            </div>
                        </li>

                        <!-- ////////// <li> /////////// -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><a href="{{ site.get-url }}" target="_blank" onclick="ga('send', 'event', 'Get-HH', 'click', '{{ page.url }}-timeline');"">Order
                                    <br>Yours
                                    <br>Now</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- END TIMELINE -->
           
        </div><!-- END CONTAINER -->
      </div><!-- END /.content-section-b --> 
      
      
<!-- BEGIN /.content-section-b -->   
     <div class="content-section-b">

        <div class="container">

            <div class="row">
            	<div class="col-lg-10 col-lg-offset-1 col-sm-12 col-lg-offset-1">
                    <div class="clearfix"></div>
                    <h2 class="section-heading perfect-for">Higher Hangers Are Perfect For:</h2>
            	</div>
            </div>

<!-- BEGIN Perfect For Loop-->
{% for text in site.perfect_for %}
	 {% capture loop_index %}{{ forloop.index }}{% endcapture %}
  {% capture thecycle %}{% cycle '1', '2' %}{% endcapture %}

{% if thecycle == '1' %}
    
   <div class="row">
            	<div class="col-md-4 col-md-offset-1 col-sm-12 lead">
                    <div class="clearfix"></div>
                    <h3 class="perfect-for">{{ text.title }}</h3>
                    <p class="lead">{{ text.content }}</p>
            	</div>        	
    {% else %}

          <div class="col-md-4 col-md-offset-2 col-sm-12 lead">
                    <div class="clearfix"></div>
                    <h3 class="perfect-for">{{ text.title }}</h3>
                    <p class="lead">{{ text.content }}</p>
            	</div>	
            </div>
    {% endif %}
{% endfor %}
<!-- END Perfect For Loop -->


		
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->






       
</div>   
</section>