<div class="alert alert-danger" role="alert">
	<h4 class="editable">
		Over 500,000 Higher Hangers Sold Since Launching on Kickstarter! FREE SHIPPING &amp; FREE &nbsp;RETURNS!&nbsp;<a class="small" href="/returns.html">learn more</a>&nbsp;
		<!--base32-40y62838e9jpcf92d1u78w1u5wqq6u3fe0q6gub7d1jq4u31dtkpawkk5thpyv96enu6uqv3dxq78tbeegyp2v35e9u5yrk1dtq6awjz5wh20vvecdp6jrvb7mh6er984xtpavk44wp209v5etjpwx175gg2ehv5egpmgj175gg2ervcd5hpp9tc40kjybb1dhjq4x1dc9gpwvk5e8pp4xbmehqpw9t97ch20rvcc5tq6f92c9u6w832ehq2uubectqj483jdxp6af92c9uq8x3fdrh3wf3keht6yvk77t1prub3dcg4gtbjcmg78vt089uqjf1fedu74vvecwz0-base32-->
	</h4>
</div>