<section id="services">





<!-- Page Content -->
{% for post in site.posts %}
	  {% if post.categories contains 'front-page' %}
	  {% else %}
	 {% capture loop_index %}{{ forloop.index }}{% endcapture %}
  {% capture thecycle %}{% cycle '1', '2' %}{% endcapture %}
 
    {% if thecycle == '1' %}<div class="content-section-a">{% else %}<div class="content-section-b">{% endif %}

        <div class="container">

            <div class="row">
            {% if post.img %}
                
                <div class="col-lg-7 col-lg-offset-1 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <p>{{ post.date | date: "%B %-d, %Y" }}</p>
                    <div class="lead">{{ post.description }} <a href="{{ post.url }}">[Read more...]</a></div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ post.url }}"><img class="img-responsive" src="img/{{ post.img }}" alt=""></a>
                     
                </div>
            {% else %}
            	<div class="col-lg-10 col-lg-offset-1 col-sm-12 col-lg-offset-1">
            		<hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <div class="lead">{{ post.description }} <a href="{{ post.url }}">[Read more...]</a></div>
            	</div>
            
            {% endif %}
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section -->
          
    {% endif %}

      {% endfor %}
</section>
