<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <h4>Pages</h4>
            <ul>  
            	            	
            	<!--<li>
                    <a class="page-scroll" href="#about">About</a>
                </li>            
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>-->
                {% assign pages = site.pages | sort:"weight"  %}
                {% for p in pages %}{% if p.nav-title %}
                <li>
                    <a href="{{ p.url }}" onclick="ga('send', 'event', 'Navigation-Footer', 'click', 'current_{{ page.url }}-target_{{ p.url }}');">{{ p.nav-title }}</a>
                </li>
                {% endif %}{% endfor %}
                <!--<li><a href="/sb.html" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                <ul class="dropdown-menu"><li><a href="/blog.html">Test2</a></li></ul>
                
                
                </li>-->
                
                <li>
               <a href="{{ site.get-url }}" target="_blank" onclick="ga('send', 'event', 'Get-HH', 'click', '{{ page.url }}-footer-nav');">{{ site.get-text }}</a></li>
               <!--<li><a href="/media.html">Media Kit</a>
               </li>-->
            </ul>

                
                
                
                
            </div>
            <div class="col-md-4">
            <h4>Contact</h4>
            Higher Hangers<br />
PO Box 11713<br />
Denver, CO 80211<br />
<a href="/contact.html">Click here to email</a>

            </div>
            <div class="col-md-4">
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
        </div>
    </div>
	


</footer>