<section id="contact">
	<div class="banner">
		<div class="container">
{% if page.url != '/form.html' %}
			<div class="row">
				<!-- Begin MailChimp Signup Form -->
	<h2>Seen Enough Already? <a href="{{ site.get-url }}" target="_blank" class="btn btn-success btn-lg" onclick="ga('send', 'event', 'Get-HH', 'click', '{{ page.url }}-get-banner');"><i class="fa fa-arrow-right fa-fw"></i> <span class="network-name">{{ site.get-text }}</span></a></h2>
	<!--End mc_embed_signup-->
			</div>
{% endif %}
		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->