<section id="home">
<!-- Header -->
	 <div class="intro-header sb">

	   		<div class="container">
        	
           	<div class="row">
				
				<div class="col-md-4">
					<h1>All New<br>Higher Hangers Now on</h1>
					<a href="{{ site.ks-url }}"><img class="img-responsive no-shadow center-block ks-logo" itemprop="image" src="/img/kickstarter-logo-dark.png" alt="kickstarter logo"></a>
					<p class="lead">Limited 40 Pack Early Bird Rewards Starting at $29.99</p>

					 <ul class="list-inline intro-social-buttons">
                            <!--<li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-pencil fa-fw"></i> <span class="network-name">Get on the Wait List</span></a>
                            </li>-->
                            <li>
                                <a href="{{ site.ks-url }}" class="btn btn-success btn-lg btn-ks" onclick="ga('send', 'event', 'Get-HH', 'click', '{{ page.url }}-header-banner-button');"><i class="fa fa-arrow-right fa-fw"></i> <span class="network-name">{{ site.ks-text }}</span></a>
                            </li>
                            </ul>
                            
                            
                </div>
                
                <div class="col-md-8">
                	<a href="{{ site.ks-url }}"><img class="img-responsive no-shadow center-block" itemprop="image" src="/img/real-higher-hangers-v2.jpg" alt="kickstarter image"></a>                </div>
                
            </div><!-- /.row -->


        </div><!-- /.container -->

    </div><!-- /.intro-header -->

</section>
