<section id="home">
<!-- Header -->
	 <div class="intro-header sb">

	   		<div class="container">
        	
           	<div class="row">
				
				<div class="col-md-4">
					<h1>All New<br>Higher Hangers Coming Soon on</h1>
					<img class="img-responsive no-shadow center-block ks-logo" itemprop="image" src="/img/kickstarter-logo-grey.png" alt="kickstarter logo">
					<p class="lead">40 Pack Early Birds Starting at $29.99 - <a class="mc-link" href="http://eepurl.com/bgd77v">Sign up for our email list</a> to be notified when the campaign is live!<a href="#calculator" class="page-scroll">*</a></p>
					<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//higherhangers.us2.list-manage.com/subscribe/post?u=fe9df1b56e5c855f42142ab39&amp;id=461ae7231a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
<div class="mc-field-group">
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="enter email address">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fe9df1b56e5c855f42142ab39_461ae7231a" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Join Email List" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
					 <!--<ul class="list-inline intro-social-buttons">
                            <!--<li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-pencil fa-fw"></i> <span class="network-name">Get on the Wait List</span></a>
                            </li>--
                            <li>
                                <a href="{{ site.get-url }}" class="btn btn-success btn-lg buy-now" onclick="ga('send', 'event', 'Get-HH', 'click', '{{ page.url }}-header-banner-button');"><i class="fa fa-shopping-cart fa-fw"></i> <span class="network-name">{{ site.get-text }}</span></a>
                            </li>
                            </ul>-->
                            
                            
                </div>
                
                <div class="col-md-8">
                	<img class="img-responsive no-shadow center-block" itemprop="image" src="/img/higher-hangers-v2.jpg" alt="kickstarter logo">                </div>
                
            </div><!-- /.row -->


        </div><!-- /.container -->

    </div><!-- /.intro-header -->

</section>
