<section id="home">
<!-- Header -->
	 <div class="intro-header">

	   		<div class="container">
        	
           	<div class="row">
            	<div class="col-lg-8">
                	<img class="img-responsive" src="img/NakedHangerComparison900x471.jpg" alt="">
				</div>
					
				<div class="col-lg-4">
					<h1>Want $200 Worth of FREE Higher Hangers?</h1>
					<p class="lead">Create 48 (or more) shoeboxes worth of new space in your closet*</p>
					 <ul class="list-inline intro-social-buttons">
                            <!--<li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-pencil fa-fw"></i> <span class="network-name">Get on the Wait List</span></a>
                            </li>-->
                            <li>
                                <a href="#" class="btn btn-success btn-lg"><i class="fa fa-arrow-down fa-fw"></i> <span class="network-name">Order Now</span></a>
                            </li>
                            </ul>
                </div>
                
            </div><!-- /.row -->


        </div><!-- /.container -->

    </div><!-- /.intro-header -->

</section>

