<section id="home">
<!-- Header -->
	 <div class="intro-header">
    
	    <div class="row intro-banner">
        	<div class="col-md-1"></div>
        	<div class="col-md-2">
                <img class="img-responsive" src="img/higherhangerslogo600x300.png" alt="">
            </div>
            <div class="col-md-8">
                    <div class="intro-message">
                        <h1>Clothes Hangers Designed WRONG For 100 years. New Design Saves MASSIVE Space.</h1>
            		</div>
            </div>
            <div class="col-md-1"></div>
        </div>

		<div class="container">
                        
            <div class="row">
            	<div class="col-lg-8">
                	<img class="img-responsive" src="img/NakedHangerComparison900x471.jpg" alt="">
					{% include calculator.html %}
					
				</div>
		
				{% include header-opt-in.html %}
				</div>
                </div>
            </div>


        </div>
       
        <!-- /.container -->

    </div>
	<!-- /.intro-header -->
</section>
