<section id="home">
<!-- Header -->
	 <div class="intro-header sb">

	   		<div class="container">
        	
           	<div class="row">
				
				<div class="col-md-4">
					<h1>All New<br>Higher Hangers Coming Soon on</h1>
					<img class="img-responsive no-shadow center-block ks-logo" itemprop="image" src="/img/kickstarter-logo-grey.png" alt="kickstarter logo">
					<p class="lead">40 Pack Early Birds Starting at $29.99 - <a class="mc-link" href="http://eepurl.com/bgd77v">Sign up for our email list</a> to be notified when the campaign is live!<a href="#calculator" class="page-scroll">*</a></p>
					 <ul class="list-inline intro-social-buttons">
                            <!--<li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-pencil fa-fw"></i> <span class="network-name">Get on the Wait List</span></a>
                            </li>-->
                            <li>
                                <a href="{{ site.get-url }}" class="btn btn-success btn-lg buy-now" onclick="ga('send', 'event', 'Get-HH', 'click', '{{ page.url }}-header-banner-button');"><i class="fa fa-shopping-cart fa-fw"></i> <span class="network-name">{{ site.get-text }}</span></a>
                            </li>
                            </ul>
                            
                            
                </div>
                
                <div class="col-md-8">
                	<img class="img-responsive no-shadow center-block" itemprop="image" src="/img/higher-hangers-v2.jpg" alt="kickstarter logo">                </div>
                
            </div><!-- /.row -->


        </div><!-- /.container -->

    </div><!-- /.intro-header -->

</section>
