<section id="home">
<!-- Header -->
	 <div class="intro-header sb">

	   		<div class="container">
        	
           	<div class="row">
				
				<div class="col-md-4 editable"><h1>We believe<br />closet space should not be WASTED.</h1><p>More space. Less waste.</p><p class="lead"><!--<a href="#calculator" class="page-scroll">*</a>--></p><p><button type="button" class="btn-primary btn-lg buy-now"><i class="fa fa-shopping-cart"></i> <span class="network-name"><a href="http://shop.higherhangers.com" onclick="ga('send', 'event', 'Get-HH', 'click', '/-home-hero-button');">Shop Higher Hangers</a></span></button></p></div>
                
                <div class="col-md-8">
                
                	<div class="embed-responsive embed-responsive-16by9">
  						<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/223170335"></iframe>
					</div>
                </div>
                
            </div><!-- /.row -->


        </div><!-- /.container -->

    </div><!-- /.intro-header -->

</section>
