<section id="home">
<!-- Header -->
	 <div class="intro-header sb">

	   		<div class="container">
        	
           	<div class="row">
				
				<div class="col-md-4 editable"><h1>All New<br />Higher Hangers Successfully Funded on</h1><p><img class="img-responsive no-shadow center-block ks-logo" itemprop="image" alt="kickstarter logo" src="/img/kickstarter-logo-dark.png" /></p><p class="lead">Higher Hangers 2.0 are NOW AVAILABLE! All Other Items In-Stock.<!--<a href="#calculator" class="page-scroll">*</a>--></p>
				
				<p><a href="{{ site.get-url }}" onclick="ga('send', 'event', 'Get-HH', 'click', '{{ page.url }}-home-hero-button');"><button type="button" class="btn-primary btn-lg buy-now"><i class="fa fa-shopping-cart"></i>  <span class="network-name">{{ site.get-text }}</span></button></a>  </p>
				
				</div>
                
                <div class="col-md-8">
                
                	<div class="embed-responsive embed-responsive-16by9">
  						<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/223170335"></iframe>
					</div>
                </div>
                
            </div><!-- /.row -->


        </div><!-- /.container -->

    </div><!-- /.intro-header -->

</section>
