<section id="services">
<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle '1', '2', '3', '4' %}{% endcapture %}
    {% if thecycle == '1' or thecycle == '3' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
            {% if post.img %}
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/{{ post.img }}" alt="">
                     <p class="caption">{{ post.img-caption }}</p>
                     
                </div>
            {% else %}
            	<div class="col-lg-10 col-lg-offset-1 col-sm-12 col-lg-offset-1">
            		<hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
            	</div>
            
            {% endif %}
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
            {% if post.img %}
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/{{ post.img }}" alt="">
                  <p class="caption">{{ post.img-caption }}</p>
                </div>
            {% else %}
            	<div class="col-lg-10 col-lg-offset-1 col-sm-12 col-lg-offset-1">
            		<hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
            	</div>
            
            {% endif %}

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
      
    {% endif %}
{% if thecycle == '3' %}{% include contact.html %}{% endif %}
{% endfor %}
</section>
