

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
{% if site.alert %}<!--<div class="alert alert-danger" role="alert">
	<h4>Buy The #1 Hangers in <img src="img/kickstarter-logo-dark-sm.jpg" /> History For <span id="tzcd"></span> 
<a href="{{ site.get-url }}&utm_content=alert_banner_{{ page.url }}" onclick="ga('send', 'event', 'Get-HH', 'click', '{{ page.url }}-alert-banner-button');" class="btn btn-info" role="button"><strong>Click Here to Buy</strong></a></h4>
</div>-->

<div class="alert alert-danger" role="alert">
	<h4>Pre-Order Sale&mdash;Up to 54% Off&mdash;Lasts For <span id="tzcd"></span> 
<a href="{{ site.get-url }}&utm_content=alert_banner_{{ page.url }}" onclick="ga('send', 'event', 'Get-HH', 'click', '{{ page.url }}-alert-banner-button');" class="btn btn-info" role="button"><strong>Click Here to Buy</strong></a> Over 35,000 Pre-Ordered</h4> 

</div>

{% endif %}
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
    
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="pull-left page-scroll" href="/">
            	<img class="img-responsive nav-logo" src="img/{{ site.nav-logo }}" alt="">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% assign pages = site.pages | sort:"weight"  %}
            <ul class="nav navbar-nav navbar-right">  
            	            	
            	<!--<li>
                    <a class="page-scroll" href="#about">About</a>
                </li>            
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>-->
                {% assign pages = site.pages | sort:"weight"  %}
                {% for p in pages %}{% if p.nav-title %}
                <li>
                    <a href="{{ p.url }}" onclick="ga('send', 'event', 'Navigation-Header', 'click', 'current_{{ page.url }}-target_{{ p.url }}');">{{ p.nav-title }}</a>
                </li>
                {% endif %}{% endfor %}
                <!--<li><a href="/sb.html" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                <ul class="dropdown-menu"><li><a href="/blog.html">Test2</a></li></ul>
                
                
                </li>-->
                
                <li>
               <a href="{{ site.get-url }}&utm_content=nav_get_button_{{ page.url }}" onclick="ga('send', 'event', 'Get-HH', 'click', '{{ page.url }}-header-nav');"><button type="button" class="btn-primary btn-md">
  <i class="fa fa-shopping-cart"></i> {{ site.get-text }}</button></a>                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
