<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include header-empty.html %}
			<section id="services">	
			
		{% include featured-on.html %}			
		
		
		
			    <div class="content-section-a">

        <div class="container">
        

            <div class="row">
                
                <div class="col-lg-10 col-lg-offset-1 col-sm-12 lead">
				
											{{ content }}
				</div>
                
               
             
             </div>

        </div>
        <!-- /.container -->

	</div>
<!-- END /.content-section-a -->

</section>
			</section>
			
			
		{% include get-banner.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>

